@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    padding: none;
    /* font-family: 'Public Sans', sans-serif; */
    font-family: 'Cormorant Garamond', serif;
    color: var(--clr-main)
}

:root{
    --clr-main: #66669a; 
    --clr-sec: #5a94a8;
    --clr-alt: #2B2B68;
}

#page-container{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: linear-gradient(#ffffff, #abd8e7 );
}
#content-wrap{
    margin-top: 125px;
    padding-bottom: 125px;
    height: auto;
}
/* Font-sizes */
h1{
    font-size: 3.5em;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}

/* Footer */
footer{
    width: 100%;
    height:  125px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--clr-sec);
}

footer p{
    padding: 20px;
    margin-bottom: 0;
    color: var(--clr-alt)
}

#maayanot-logo-footer{
    width: 150px
}
footer img{
    width: 100px;
    margin: 10px;
}


/* Navbar */
.active{
    pointer-events: none;
    font-weight: bold;
}
nav{
    position: fixed !important;
    transition: font-size 0.2s, height 0.2s;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px var(--clr-alt);
}
.bg-light{
    background-color: var(--clr-sec) !important;
    /* background-color: linear-gradient(#66669a, white) !important; */
}
.nav-link{
    color: var(--clr-alt) !important;
    font-weight: bold;
}
.nav-link:first-of-type{
    min-width: 140px;
}
#navbar-logo{
    transition: 0.4s;
    max-width: 10em;
}
nav{
    height: 125px;
    padding: 10px;
    font-size: 1.50em;
}
@media (min-width:992px){
    #navbar-text{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.4s;
    }
    .nav-link:not(:last-child){
        border-right: 1px solid;
        padding: 8px 16px !important;
    }
}   

/* Sections - general */
section{
    min-height: 80vh;
    width: 85%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section:first-of-type{
    margin-top: 50px;
}
/* Home */
#intro{
    width: 100%;
    background-image: url('./pictures/Har_nof.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro-cover{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0.1) 100%); 
}
@media (max-width: 1075px) {
    #intro-cover{
        background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0.6) 100%); 
    }
}
#intro-cover>div{
    margin: 5% 10%
}
#intro h2{
    font-size: 4em;
}

#intro-details>div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#intro-details>div>div:last-of-type{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}
#intro-details>div{
    width: 90%;
    height: 250px;
}
/* Contact Us */
#contact-us-form{
    display: flex;
    width: 100%
}
#contact-us-form>form{
        width: 60%
}
#contact-us-form>*{
    padding: 5%
}
button[type=submit]{
    margin: 20px auto 0;
    width: 25%;
}
.btn-primary{
    background-color: var(--clr-main);
    color: white;
    border: none;
}
.btn-primary:hover{
    background-color: #615192;
    color: var(--clr-sec);
}
#map-social-section{
    min-height: auto;
    flex-direction: row;
}
#map-social-section h3{
    text-align: center;
}
#map-social-section>*{
    width: 50%
}
#map{
    width: 50%; 
    height: 300px;
}
#social-logos{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px
}
#social-logos a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}
#social-logos img{
    width: 50px;
    margin: 0 auto;
}

@media(max-width:768px) {
    #contact-us-form{
        flex-direction: column;
    }
    #map-social-section{
        flex-direction: column-reverse;
    }
    #map-social-section>*{
        margin-top: 50px;
        width: 80%
    }
    #map-social-section>*:last-of-type{
        margin-bottom: 50px
    }
    #social-logos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* STAFF */
#faculty{
    margin-top: 140px;
}
#faculty-headshots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#faculty-headshots>div{
    min-height: 350px;
    width: 30%;
    min-width: 200px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px var(--clr-main);
}
#faculty-headshots>div>img{
    width: 90%;
}
@media (max-width: 768px) {
    #faculty-headshots>div{
        width: 100%
    }
    #faculty-headshots>div>img{
        width: 100%
    }
}

/* DONATE */
#donate-section{
    text-align: center;
}
#donate-section h1{
    margin-bottom: 25px;
}
#donate-section a{
    background-color: var(--clr-alt);
    color: white;
    text-decoration: none;
    height: 75px;
    width: 200px;
    font-size: 1.75em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
#donate-section a:hover{
    background-color: var(--clr-main);
}

/* DORM LIFE, SPECIAL PROGRAMMING/ TIYULIM  */

#dorm-life-section h1,
#special-prog-section h1{
    margin: 25px
}
#dorm-life-section>div,
#special-prog-section>div{
    width: 100%;
    min-height: 500px;
    display: flex;
}
#dorm-life-section>div>div,
#special-prog-section>div>div{
    width: 100%;
    padding: 2.5%
}

/* ABOUT US */
#about h3{
    margin-bottom: 10%;
}
#about-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.about-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
}
.about-container-row:nth-of-type(2){
    flex-direction: row-reverse;
}
.about-container-row img{
    border: 1px solid var(--clr-main);
    width: 300px
}
.about-container-text{
    width: 50%
}