*{
    box-sizing: border-box;
    padding: none;
}

body{
    height: 1000px;
}

/* Navbar */
.active{
    pointer-events: none;
}

nav.navbar{
    position: fixed !important;
    height: 125px;
    padding: 10px;
    width: 100%;
    font-size: 1.50em;
    top: 0;
    transition: 0.4s;
}

#navbar-text{
    width: 90%;
    display: flex;
    justify-content: center;
}